pf2050_data_standard.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="https://pf2050.co.nz" targetNamespace="https://pf2050.co.nz" version="0.4">

<xs:annotation>
    <xs:appinfo>pf2050_data_standard.xsd v0.4</xs:appinfo>
    <xs:documentation xml:lang="en">New Zealand Predator Free 2050 Data Standard.</xs:documentation>
</xs:annotation>

<xs:simpleType name="uuid_type">
    <xs:annotation>
		<xs:documentation>
            https://en.wikipedia.org/wiki/Universally_unique_identifier
        </xs:documentation>
	</xs:annotation>
	<xs:restriction base="xs:string">
		<xs:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
	</xs:restriction>
</xs:simpleType>

<xs:simpleType name="device_status_type">
	<xs:annotation>
		<xs:documentation>
			Defines the state of a device use to catch or sense predators.
            Data is candidate for centralised cloud storage accessible via API.
            The list included here for demonstration and discussion purposes only.
		</xs:documentation>
	</xs:annotation>
	<xs:restriction base="xs:string">
		<xs:enumeration value="Set" />
		<xs:enumeration value="Not Set" />
		<xs:enumeration value="Triggered" />
	</xs:restriction>
</xs:simpleType>

<xs:simpleType name="lure_status_type">
	<xs:annotation>
		<xs:documentation>
			Defines the state of a non-toxic substance use to catch or sense predators.
            Data is candidate for centralised cloud storage accessible via API.
            The list included here for demonstration and discussion purposes only.
		</xs:documentation>
	</xs:annotation>
	<xs:restriction base="xs:string">
        <xs:enumeration value="Gone" />
        <xs:enumeration value="Bad" />
        <xs:enumeration value="Intact" />
        <xs:enumeration value="Partial" />
        <xs:enumeration value="None" />
		<xs:enumeration value="Replaced" />
		<xs:enumeration value="Refreshed" />
	</xs:restriction>
</xs:simpleType>

<xs:simpleType name="bait_status_type">
	<xs:annotation>
		<xs:documentation>
			Defines the state of toxin use to catch or sense predators.
            Data is candidate for centralised cloud storage accessible via API.
            The list included here for demonstration and discussion purposes only.
		</xs:documentation>
	</xs:annotation>
	<xs:restriction base="xs:string">
		<xs:enumeration value="Gone" />
        <xs:enumeration value="Bad" />
        <xs:enumeration value="Intact" />
        <xs:enumeration value="Partial" />
        <xs:enumeration value="None" />
		<xs:enumeration value="Replaced" />
		<xs:enumeration value="Refreshed" />
	</xs:restriction>
</xs:simpleType>

<xs:complexType name="amount_type">
	<xs:sequence>
		<xs:element name="grams_remaining" type="xs:nonNegativeInteger" minOccurs="0" maxOccurs="1" />
        <xs:element name="grams_added" type="xs:nonNegativeInteger" minOccurs="0" maxOccurs="1" />
        <xs:element name="grams_removed" type="xs:nonNegativeInteger" minOccurs="0" maxOccurs="1" />
        <xs:element name="grams_taken" type="xs:nonNegativeInteger" minOccurs="0" maxOccurs="1" />
	</xs:sequence>
</xs:complexType>

<xs:complexType name="reporter_type">
	<xs:annotation>
		<xs:documentation>
            Defines the person or subsystem that generated the specific report data.
            This element type can be used at the file (pf2050_data_standard element) level, or as child element of the report element.
            When used as a child element of report, all optional elements should be omitted.
		</xs:documentation>
	</xs:annotation>
	<xs:sequence>
        <xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1" />
        <xs:element name="project_name" type="xs:string" minOccurs="0" maxOccurs="1" />
        <xs:element name="website_url" type="xs:string" minOccurs="0" maxOccurs="1" />
        <xs:element name="contact_name" type="xs:string" minOccurs="0" maxOccurs="1" />
        <xs:element name="contact_phone" type="xs:string" minOccurs="0" maxOccurs="1" />
        <xs:element name="contact_email" type="xs:string" minOccurs="0" maxOccurs="1" />
	</xs:sequence>
</xs:complexType>

<xs:element name="pf2050_data_standard">
    <xs:annotation>
		<xs:documentation>
			New Zealand Predator Free 2050 Data Standard.
		</xs:documentation>
	</xs:annotation>
	<xs:complexType>
		<xs:sequence>
            <xs:element name="system" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        Defines the system that has generated the dataset.
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="system_id" type="uuid_type" minOccurs="1" maxOccurs="1">
                            <xs:annotation>
                                <xs:documentation>
                                    Universally Unique Identiifer (UUID) of the system originating the dataset.
                                    Once published, the value should not change for the given system.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1">
                            <xs:annotation>
                                <xs:documentation>
                                    Name of the system that has generated the dataset.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="data_standard_version" minOccurs="1" maxOccurs="1">
                            <xs:annotation>
                                <xs:documentation>
                                    Version of the data standard.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="reported_by" type="reporter_type" minOccurs="0" maxOccurs="1" />
			<xs:element name="report" minOccurs="1" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        Describes an activity to catch or sense predators.
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="report_id" type="uuid_type" minOccurs="1" maxOccurs="1">
                            <xs:annotation>
                                <xs:documentation>
                                    Universally Unique Identifier (UUID) of the report record, generated by the system originating the dataset.
                                    The value should be stored historically for data traceability.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="type" type="xs:string" minOccurs="1" maxOccurs="1">
                            <xs:annotation>
                                <xs:documentation>
                                    Defines the human or machine activity that originated the data.
                                    Data is candidate for centralised cloud storage accessible via API.
                                    The list included here for demonstration and discussion purposes only.
                                    <!-- sample enumerations -->
                                    <xs:enumeration value="Catch" />
                                    <xs:enumeration value="Visit" />
                                    <xs:enumeration value="Deployment" />
                                    <xs:enumeration value="Decommission" />
                                    <xs:enumeration value="Sensor Trigger" />
                                    <xs:enumeration value="Sensor Report" />
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="date_recorded" minOccurs="1" maxOccurs="1">
                            <xs:annotation>
                                <xs:documentation>
                                    Defines the date the report data was captured or a date range the data capture covers/spans.
                                </xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:choice>
                                    <xs:element name="date" type="xs:dateTime" minOccurs="1" maxOccurs="1" />
                                    <xs:sequence>
                                        <xs:element name="date_start" type="xs:dateTime" minOccurs="1" maxOccurs="1" />
                                        <xs:element name="date_end" type="xs:dateTime" minOccurs="1" maxOccurs="1" />
                                    </xs:sequence>
                                </xs:choice>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="location" type="xs:string" minOccurs="1" maxOccurs="1">
                            <xs:annotation>
                                <xs:documentation>
                                    The location where the activity took place.
                                    Well-known text (WKT) representation of geometry. Refer https://www.ogc.org/standards/sfa
                                    All coordinates assumed WGS84 unless specified otherwise.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="device" minOccurs="0" maxOccurs="unbounded">
                            <xs:annotation>
                                <xs:documentation>
                                    Defines a device used to catch or sense predators.
                                </xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="device_id" type="uuid_type"  minOccurs="1" maxOccurs="1" />
                                    <xs:element name="device_type" type="xs:string" minOccurs="1" maxOccurs="1">
                                        <xs:annotation>
                                            <xs:documentation>
                                                Defines the broad class of device used to kill, catch or sense predators.
                                                Data is candidate for centralised cloud storage accessible via API.
                                                The list included here for demonstration and discussion purposes only.
                                                <!-- sample enumerations -->
                                                <xs:enumeration value="Trap" />
                                                <xs:enumeration value="Bait Station" />
                                                <xs:enumeration value="Sensor" />
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="device_model" type="xs:string" minOccurs="0" maxOccurs="1">
                                        <xs:annotation>
                                            <xs:documentation>
                                                Defines the specific model of device used to catch or sense predators.
                                                Data is candidate for centralised cloud storage accessible via API.
                                                The list included here for demonstration and discussion purposes only.
                                                <!-- sample enumerations -->
                                                <xs:enumeration value="DOC200" />
                                                <xs:enumeration value="Timms" />
                                                <xs:enumeration value="Goodnature A24" />
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="device_statuses" minOccurs="0" maxOccurs="1">
                                        <xs:annotation>
                                            <xs:documentation>
                                                Defines the state of a device ue to catch or sense predators.
                                            </xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="arrival" type="device_status_type" minOccurs="0" maxOccurs="1" />
                                                <xs:element name="departure" type="device_status_type" minOccurs="0" maxOccurs="1 "/>
                                                <xs:element name="trigger_count" type="xs:nonNegativeInteger" minOccurs="0" maxOccurs="1" />
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="lure" minOccurs="0" maxOccurs="unbounded">
                                        <xs:annotation>
                                            <xs:documentation>
                                                Defines a non-toxic substance used to catch or sense predators.
                                            </xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="lure_id" type="xs:positiveInteger" minOccurs="1" maxOccurs="1" />
                                                <xs:element name="lure_type" type="xs:string" minOccurs="1" maxOccurs="1">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            Defines the class of non-toxic substance used to catch or sense predators.
                                                            Data is candidate for centralised cloud storage accessible via API.
                                                            The list included here for demonstration and discussion purposes only.
                                                            <!-- sample enumerations -->
                                                            <xs:enumeration value="None" />
                                                            <xs:enumeration value="Unspecified" />
                                                            <xs:enumeration value="Egg" />
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                </xs:element>
                                                <xs:element name="lure_statuses" minOccurs="0" maxOccurs="1">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="arrival" type="lure_status_type" minOccurs="0" maxOccurs="1" />
                                                            <xs:element name="departure" type="lure_status_type" minOccurs="0" maxOccurs="1" />
                                                            <xs:element name="amount" type="amount_type" minOccurs="0" maxOccurs="1" />
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="bait" minOccurs="0" maxOccurs="unbounded">
                                        <xs:annotation>
                                            <xs:documentation>
                                                Defines a toxin used to catch or sense predators.
                                            </xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="bait_id" type="xs:positiveInteger" minOccurs="1" maxOccurs="1"/>
                                                <xs:element name="bait_type" type="xs:string" minOccurs="1" maxOccurs="1">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            Defines the class of toxin used to catch or sense predators.
                                                            Data is candidate for centralised cloud storage accessible via API.
                                                            The list included here for demonstration and discussion purposes only.
                                                            <!-- sample enumerations -->
                                                            <xs:enumeration value="None" />
                                                            <xs:enumeration value="Brodifacoum" />
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                </xs:element>
                                                <xs:element name="bait_statuses" minOccurs="0" maxOccurs="1">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="arrival" type="bait_status_type" minOccurs="0" maxOccurs="1" />
                                                            <xs:element name="departure" type="bait_status_type" minOccurs="0" maxOccurs="1" />
                                                            <xs:element name="amount" type="amount_type" minOccurs="0" maxOccurs="1" />
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="species" minOccurs="0" maxOccurs="unbounded">
                            <xs:annotation>
                                <xs:documentation>
                                    Defines the animal detected, caught or sensed by a device.
                                </xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="species_id" type="xs:positiveInteger" minOccurs="1" maxOccurs="1" />
                                    <xs:element name="common_name" type="xs:string" minOccurs="1" maxOccurs="1">
                                        <xs:annotation>
                                            <xs:documentation>
                                                Full list defined at ...
                                                Only a subset list is defined here for demonstration and discussion purposes.
                                                This data is candidate for centralised storage accessed via API.
                                                <!-- sample enumerations -->
                                                <xs:enumeration value="Unknown" />
                                                <xs:enumeration value="Rat" />
                                                <xs:enumeration value="Cat" />
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="scientific_name" type="xs:string" minOccurs="0" maxOccurs="1" />
                                    <xs:element name="age" minOccurs="0" maxOccurs="1">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="Unknown" />
                                                <xs:enumeration value="Baby" />
                                                <xs:enumeration value="Juvenile" />
                                                <xs:enumeration value="Adult" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="sex" minOccurs="0" maxOccurs="1">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="Unknown" />
                                                <xs:enumeration value="Male" />
                                                <xs:enumeration value="Female" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="count" type="xs:positiveInteger" minOccurs="0" maxOccurs="1" default="1" />
                                    <xs:element name="target" type="xs:boolean" minOccurs="0" maxOccurs="1" default="true" />
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="reported_by" type="reporter_type" minOccurs="0" maxOccurs="1"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:element>

</xs:schema>